In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("customer_shopping_behavior.csv")

df.sample(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
3700,3701,28,Female,Handbag,Accessories,84,North Dakota,XL,Charcoal,Summer,3.4,No,Store Pickup,No,No,2,Bank Transfer,Every 3 Months
3525,3526,45,Female,Sunglasses,Accessories,38,Wyoming,L,Olive,Winter,3.5,No,Standard,No,No,47,Bank Transfer,Annually
3430,3431,67,Female,Socks,Clothing,73,Montana,M,Lavender,Winter,4.2,No,Next Day Air,No,No,17,Bank Transfer,Every 3 Months
1907,1908,69,Male,Skirt,Clothing,74,New Mexico,L,Orange,Fall,4.8,No,Store Pickup,No,No,36,Credit Card,Every 3 Months
3037,3038,51,Female,Belt,Accessories,44,Iowa,L,Charcoal,Summer,4.8,No,Next Day Air,No,No,2,Cash,Annually

In [3]:

df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [4]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(" ","_" )
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [5]:
df.isnull().sum()

customer_id                0
age                        0
gender                     0
item_purchased             0
category                   0
purchase_amount_(usd)      0
location                   0
size                       0
color                      0
season                     0
review_rating             37
subscription_status        0
shipping_type              0
discount_applied           0
promo_code_used            0
previous_purchases         0
payment_method             0
frequency_of_purchases     0
dtype: int64

In [6]:
df.review_rating=df.groupby(df.category).review_rating.transform(lambda x : x.median())

In [7]:
df.isnull().sum()

df.review_rating

0       3.7
1       3.7
2       3.7
3       3.8
4       3.7
       ...
3895    3.7
3896    3.8
3897    3.8
3898    3.8
3899    3.8
Name: review_rating, Length: 3900, dtype: float64

In [8]:

df=df.rename(columns={"purchase_amount_(usd)":"purchase_amount"})

df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [9]:
bins=[0,18,65,150]
labels=["teen","adult","senior"]


df["age_group"]=pd.cut(df.age,bins=bins,labels=labels)

In [10]:
df.sample(10)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
3418,3419,53,Female,Jacket,Outerwear,30,South Carolina,M,Beige,Summer,3.8,No,Free Shipping,No,No,35,Debit Card,Annually,adult
1076,1077,33,Male,Coat,Outerwear,72,North Dakota,L,Charcoal,Spring,3.8,No,Standard,Yes,Yes,47,Venmo,Bi-Weekly,adult
2797,2798,63,Female,Jewelry,Accessories,42,Oklahoma,M,Green,Winter,3.8,No,Express,No,No,10,Venmo,Every 3 Months,adult
3572,3573,23,Female,Shorts,Clothing,28,Rhode Island,M,Black,Spring,3.7,No,Standard,No,No,25,Credit Card,Monthly,adult
3655,3656,20,Female,Sweater,Clothing,27,Wyoming,M,Yellow,Fall,3.7,No,Next Day Air,No,No,4,Credit Card,Bi-Weekly,adult
1200,1201,27,Male,Coat,Outerwear,22,Connecticut,XL,Black,Winter,3.8,No,Store Pickup,Yes,Yes,7,PayPal,Weekly,adult
491,492,49,Male,Coat,Outerwear,69,Vermont,M,Silver,Summer,3.8,Yes,2-Day Shipping,Yes,Yes,24,Credit Card,Bi-Weekly,adult
1759,1760,68,Male,Sweater,Clothing,58,Louisiana,L,Green,Spring,3.7,No,Next Day Air,No,No,1,PayPal,Weekly,senior
1315,1316,56,Male,Shorts,Clothing,75,Mississippi,L,Green,Spring,3.7,No,2-Day Shipping,Yes,Yes,29,Debit Card,Quarterly,adult
3785,3786,64,Female,Jeans,Clothing,94,New Hampshire,L,Lavender,Winter,3.7,No,Standard,No,No,6,Cash,Monthly,adult

### in frequncy : annually-> 360

In [11]:
df.frequency_of_purchases
df.frequency_of_purchases.count()

np.int64(3900)

In [12]:
frequency_mapping={
    'Fortnightly': 14,
'Weekly': 7,
'Monthly': 30,
'Quarterly': 90,
'Bi-Weekly': 14,
'Annually': 365,
'Every 3 Months': 90
}

df['frequency_of_purchases']=df['frequency_of_purchases'].replace(frequency_mapping)

df.frequency_of_purchases.sample(10)

C:\Users\darsh\AppData\Local\Temp\ipykernel_7604\406204632.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['frequency_of_purchases']=df['frequency_of_purchases'].replace(frequency_mapping)

2276      7
395     365
489     365
3336    365
1436     14
3475     90
3082    365
1576     30
1752     90
1769     30
Name: frequency_of_purchases, dtype: int64

In [13]:
(df.promo_code_used==df.discount_applied).all()

df.drop('promo_code_used', axis=1)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.7,Yes,Express,Yes,14,Venmo,14,adult
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.7,Yes,Express,Yes,2,Cash,14,adult
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.7,Yes,Free Shipping,Yes,23,Credit Card,7,adult
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.8,Yes,Next Day Air,Yes,49,PayPal,7,adult
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,3.7,Yes,Free Shipping,Yes,31,PayPal,365,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,3.7,No,2-Day Shipping,No,32,Venmo,7,adult
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,3.8,No,Store Pickup,No,41,Bank Transfer,14,adult
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,3.8,No,Standard,No,24,Venmo,90,adult
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,7,adult
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.8,No,Store Pickup,No,33,Venmo,90,adult

In [14]:
df

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.7,Yes,Express,Yes,Yes,14,Venmo,14,adult
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.7,Yes,Express,Yes,Yes,2,Cash,14,adult
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.7,Yes,Free Shipping,Yes,Yes,23,Credit Card,7,adult
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.8,Yes,Next Day Air,Yes,Yes,49,PayPal,7,adult
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,3.7,Yes,Free Shipping,Yes,Yes,31,PayPal,365,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,3.7,No,2-Day Shipping,No,No,32,Venmo,7,adult
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,3.8,No,Store Pickup,No,No,41,Bank Transfer,14,adult
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,3.8,No,Standard,No,No,24,Venmo,90,adult
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,7,adult
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.8,No,Store Pickup,No,No,33,Venmo,90,adult

In [18]:
!pip install pymysql sqlalchemy

Collecting pymysql
  Using cached pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting sqlalchemy
  Using cached sqlalchemy-2.0.45-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Using cached greenlet-3.3.0-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\darsh\sample\env\lib\site-packages (from sqlalchemy) (4.15.0)
Using cached pymysql-1.1.2-py3-none-any.whl (45 kB)
Using cached sqlalchemy-2.0.45-cp313-cp313-win_amd64.whl (2.1 MB)
Downloading greenlet-3.3.0-cp313-cp313-win_amd64.whl (301 kB)
Installing collected packages: pymysql, greenlet, sqlalchemy

   ---------------------------------------- 0/3 [pymysql]
   ---------------------------------------- 0/3 [pymysql]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.0 pymysql-1.1.2 sqlalchemy-2.0.45

In [24]:
from sqlalchemy import create_engine
import pandas as pd

# MySQL connection
username = "root"
password = "1234567890"
host = "localhost"
port = "3306"
database = "mydatabase"

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

# Choose any table name
table_name = "customers1"

# Write DataFrame to MySQL
df.to_sql(table_name, engine, if_exists="replace", index=False)

# Read back sample
pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5;", engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.7,Yes,Express,Yes,Yes,14,Venmo,14,adult
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.7,Yes,Express,Yes,Yes,2,Cash,14,adult
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.7,Yes,Free Shipping,Yes,Yes,23,Credit Card,7,adult
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.8,Yes,Next Day Air,Yes,Yes,49,PayPal,7,adult
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,3.7,Yes,Free Shipping,Yes,Yes,31,PayPal,365,adult